@model CinemaVM


<section class="w3l-main-slider position-relative" id="home">
	<div class="companies20-content">
		<div class="owl-one owl-carousel owl-theme">
			@foreach (var movie in Model.Movies)
			{
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2" style="background-image: url('@movie.Poster');">
							<div class="banner-info">
								<h3>@movie.Title</h3>
								<p>
									<span class="over-para">
										@movie.Description
									</span>
								</p>
								<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/358205676" allow="autoplay; fullscreen"
											allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
			}
		</div>
	</div>
</section>
<!--grids-sec1-->
<section class="w3l-grids">
	<div class="grids-main py-5">
		<div class="container py-lg-4">
			<div class="headerhny-title">
				<div class="w3l-title-grids">
					<div class="headerhny-left">
						<h3 class="hny-title">Latest Movies</h3>
					</div>
					<div class="headerhny-right text-lg-right">
						<h4><a class="show-title" href="movies">Show all</a></h4>
					</div>
				</div>
			</div>
			<div class="w3l-populohny-grids">
				@foreach (var movie in Model.NewMovies)
				{
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<figure>
								<img class="img-fluid" src="@movie.Poster" alt="">
							</figure>
							<a href=".a-@movie.Id" data-toggle="modal">
								<div class="box-content">
									<h3 class="title">@movie.Title</h3>
									<h4>
										@{
											var durationTimeSpan = TimeSpan.FromMinutes(movie.Duration);
										}
										<span class="post">
											<span class="fa fa-clock-o"> </span> @durationTimeSpan.ToString(@"hh\:mm")
										</span>
										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
							</a>
							<!-- Modal -->
							<div class="modal fade a-@movie.Id" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="mymodalcontent">
										<div class="modal-header">
											<h4 class="modal-title" id="exampleModalLongTitle">DETAILS</h4>
											<button type="button" class="closebtn" data-dismiss="modal"
											aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body" id="dynamic-content">
											<img src="@movie.Poster" class="img-fluid modalimg" alt="" />
											<p>
												<h3>Release Date&nbsp;:@movie.ReleaseDate.ToString("dd/MM/yyyy") </h3>
												<h3>Genre;:@movie.AgeRestriction </h3>
											</p>
											<h4>About Movie</h4>
											<p>
												@movie.Description
											</p>
										</div>
										<div class="bookbtn">
											<button type="button" class="btn btn-success"
											onclick="location.href='Customer/Home/Book/@movie.Id';">
												Book
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- modal end -->
						</div>
					</div>
				}
			</div>
			<!-- ***********************************Adults Section ************************************** -->
			<div class="w3l-title-grids">
				<div class="headerhny-left">
					<h3 class="hny-title">Adults</h3>
				</div>
				<div class="headerhny-right text-lg-right">
					<h4><a class="show-title" href="movies.html">Show all</a></h4>
				</div>
			</div>
			<div class="w3l-populohny-grids">
				@foreach (var movie in Model.AdultMovies)
				{
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<figure>
								<img class="img-fluid" src="@movie.Poster" alt="">
							</figure>
							<a href=".b-@movie.Id" data-toggle="modal">
								<div class="box-content">
									<h3 class="title">@movie.Title</h3>
									<h4>
										@{
											var durationTimeSpan = TimeSpan.FromMinutes(movie.Duration);
										}
										<span class="post">
											<span class="fa fa-clock-o"> </span> @durationTimeSpan.ToString(@"hh\:mm")
										</span>
										<span class="post fa fa-heart text-right"></span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
							</a>
							<!-- Modal -->
							<div class="modal fade b-@movie.Id" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="mymodalcontent">
										<div class="modal-header">
											<h4 class="modal-title" id="exampleModalLongTitle">DETAILS</h4>
											<button type="button" class="closebtn" data-dismiss="modal"
													aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body" id="dynamic-content">
											<img src="@movie.Poster" class="img-fluid modalimg" alt="" />
											<p>
												<h3>Release Date&nbsp;:@movie.ReleaseDate.ToString("dd/MM/yyyy") </h3>
												<h3>Genre;:@movie.AgeRestriction </h3>
											</p>
											<h4>About Movie</h4>
											<p>
												@movie.Description
											</p>
										</div>
										<div class="bookbtn">
											<button type="button" class="btn btn-success"
													onclick="location.href='Customer/Home/Book/@movie.Id';">
												Book
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- modal end -->
						</div>
					</div>
				}
			</div>

			<!-- ***********************************kids Section ************************************** -->
			<div class="w3l-title-grids">
				<div class="headerhny-left">
					<h3 class="hny-title">Kids</h3>
				</div>
				<div class="headerhny-right text-lg-right">
					<h4><a class="show-title" href="movies.html">Show all</a></h4>
				</div>
			</div>
			<div class="w3l-populohny-grids">
				@foreach (var movie in Model.KidsMovies)
				{
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<figure>
								<img class="img-fluid" src="@movie.Poster" alt="">
							</figure>
							<a href=".c-@movie.Id" data-toggle="modal">
								<div class="box-content">
									<h3 class="title">@movie.Title</h3>
									<h4>
										@{
											var durationTimeSpan = TimeSpan.FromMinutes(movie.Duration);
										}
										<span class="post">
											<span class="fa fa-clock-o"> </span> @durationTimeSpan.ToString(@"hh\:mm")
										</span>
										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
							</a>
							<!-- Modal -->
							<div class="modal fade c-@movie.Id" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="mymodalcontent">
										<div class="modal-header">
											<h4 class="modal-title" id="exampleModalLongTitle">DETAILS</h4>
											<button type="button" class="closebtn" data-dismiss="modal"
													aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body" id="dynamic-content">
											<img src="@movie.Poster" class="img-fluid modalimg" alt="" />
											<p>
												<h3>Release Date&nbsp;:@movie.ReleaseDate.ToString("dd/MM/yyyy") </h3>
												<h3>Genre;:@movie.AgeRestriction </h3>
											</p>
											<h4>About Movie</h4>
											<p>
												@movie.Description
											</p>
										</div>
										<div class="bookbtn">
											<button type="button" class="btn btn-success"
													onclick="location.href='Customer/Home/Book/@movie.Id';">
												Book
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- modal end -->
						</div>
					</div>
				}
			</div>
		</div>
		<div class="text-center mt-4">
			<a href="movies.html" class="view-button">
				View all <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span>
			</a>
		</div>

	</div>
</section>