@model CinemaVM
<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
	<div class="companies20-content">
		<div class="owl-one owl-carousel owl-theme">
			@foreach(var movie in Model.Movies)
			{				
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2" style="background-image: url('@movie.Poster');">
							<div class="banner-info">
								<h3>@movie.Title</h3>
								<p>
									<span class="over-para">
										@movie.Description
									</span>
								</p>
								<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/358205676" allow="autoplay; fullscreen"
											allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
			}	
		</div>
	</div>
</section>
<!-- main-slider -->
<!--grids-sec1-->
<section class="w3l-grids">
	<div class="grids-main py-5">
		<div class="container py-lg-3">
			<div class="headerhny-title">
				<div class="w3l-title-grids">
					<div class="headerhny-left">
						<h3 class="hny-title">What's On</h3>
					</div>
					<div class="headerhny-right text-lg-right">
						<h4><a class="show-title" href="movies.html">Show all</a></h4>
					</div>
				</div>
			</div>
			<div class="w3l-populohny-grids">

                @foreach (var movie in Model.TodayMovies)
				{
					<div class="item vhny-grid">
						<div class="box16">
							<a href="@movie.Trailer">
								<figure>
									<img class="img-fluid" src="@movie.Poster" alt="">
								</figure>
								<div class="box-content">
									<h3 class="title">@movie.Title</h3>
									<h4>
										<span class="post">
											<span class="fa fa-clock-o"> </span>
											<span class="fa fa-clock-o"> </span>

											@{
												int hours = @movie.Duration / 60;
												int minutes = @movie.Duration % 60;
											}
											@(hours > 0 ? $"{hours}h {minutes}m" : $"{minutes}m")

										</span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>
				}

			</div>
		</div>
	</div>
</section>
<!--//grids-sec1-->
<!--grids-sec2-->
<section class="w3l-grids">
	<div class="grids-main py-5">
		<div class="container py-lg-3">
			<div class="headerhny-title">
				<div class="w3l-title-grids">
					<div class="headerhny-left">
						<h3 class="hny-title">New Releases</h3>
					</div>
					<div class="headerhny-right text-lg-right">
						<h4><a class="show-title" href="movies.html">Show all</a></h4>
					</div>
				</div>
			</div>
			<div class="owl-three owl-carousel owl-theme">
				@foreach(var movie in Model.NewMovies)
				{
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="@movie.Trailer">
								<figure>
									<img class="img-fluid" src="@movie.Poster" alt="">
								</figure>
								<div class="box-content">

									<h4>
										<span class="post">
											<span class="fa fa-clock-o"> </span><span class="fa fa-clock-o"> </span>
											@{
												int hours = @movie.Duration / 60;
												int minutes = @movie.Duration % 60;
											}
											@(hours > 0 ? $"{hours}h {minutes}m" : $"{minutes}m")
										</span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
						<h3> <a class="title-gd" href="movies.html">Scoob</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
						<div class="button-center text-center mt-4">
							<a href="movies.html" class="btn watch-button">Watch now</a>
						</div>
					</div>
				}				
			</div>
		</div>

	</div>
</section>
<!--grids-sec2-->
<!--mid-slider -->
<section class="w3l-mid-slider position-relative">
	<div class="companies20-content">
		<div class="owl-mid owl-carousel owl-theme">
			<div class="item">
				<li>
					<div class="slider-info mid-view bg bg2">
						<div class="container">
							<div class="mid-info">
								<span class="sub-text">Comedy</span>
								<h3>Jumanji: The Next Level</h3>
								<p>2019 ‧ Comedy/Action ‧ 2h 3m</p>
								<a class="watch" href="movies.html">
									<span class="fa fa-play"
										  aria-hidden="true"></span>
									Watch Trailer
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info mid-view mid-top1 bg bg2">
						<div class="container">
							<div class="mid-info">
								<span class="sub-text">Adventure</span>
								<h3>Dolittle</h3>
								<p>2020 ‧ Family/Adventure ‧ 1h 41m</p>
								<a class="watch" href="movies.html">
									<span class="fa fa-play"
										  aria-hidden="true"></span>
									Watch Trailer
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info mid-view mid-top2 bg bg2">
						<div class="container">
							<div class="mid-info">
								<span class="sub-text">Action</span>
								<h3>Bad Boys for Life</h3>
								<p>2020 ‧ Comedy/Action ‧ 2h 4m</p>
								<a class="watch" href="movies.html">
									<span class="fa fa-play"
										  aria-hidden="true"></span>
									Watch Trailer
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</section>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
    <partial name="_NotificationPartial" />
}